:global {
  @import 'base';
  @import 'vendor/normalize';
  @import 'login';
  @import "variable";
  @import "nav";

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body,
  .container {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  header {
    height: 64px;
    background: $primary-color;
    position: relative;
    z-index: 999;
    h1 {
      color: white;
      position: absolute;
      left: 10px;
      top: 10px;
    }
  }

  .view-container {
    width: 100%;
    height: 100%;
    padding: 10px;
  }

  .toolbar {
    margin: 10px 0;
    position: relative;

    input {
      width: 180px;
      margin: 0 10px;
    }

    .operation-dropdown {
      position: absolute;
      right: 50px;
      bottom: 5px;
    }
  }
}

